* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  min-height: 40px;
  background-color: #2e2d2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  gap: 8px 15px;
}
.logo-onebitcode {
  width: 300px;
}
.buttons {
  display: flex;
  gap: 15px;
}
.buttonheader {
  font-size: 16px;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.buttonheader:hover {
  border-bottom: 2px solid black;
}
.sectiontitle {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 15px;
}
.sectiondescrição {
  text-align: center;
  color: #383838;
}
.gridcontainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "maincontent sidebarcontent";
  padding: 2px;
  flex: 1 0 auto;
}
.maincontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: maincontent;
}
.categotiacard {
  width: 280px;
  height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.maincardimg {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.categotiacard:hover {
  border-color: black;
}
.titlomain {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
}
.descriçãomain {
  padding: 6px;
}
.sidebarcontent {
  background-color: #383838;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  grid-area: sidebarcontent;
  gap: 20px;
}
.sidebarcard {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.sidebarcardimg {
  width: 100%;
  border-radius: 10px;
}
.siderbarcardtitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}
.sidebarcard:hover {
  border-color: white;
}
.footer {
  width: 100%;
  min-height: 40px;
  background-color: #292929;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
}
.logo-footer {
  width: 300px;
}
.ancorafooter {
  color: white;
  text-decoration: none;
}
@media (max-width: 630px) {
  .gridcontainer {
    grid-template-areas:
      none
      "maincontent"
      "sidebarcontent";
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.ancorafooter {
  font-size: 19px;
}
.sidebarcontent {
  min-width: auto;
}
@media (max-width: 463px) {
  .header {
    justify-content: center;
  }
  .footer {
    justify-content: center;
  }
}
